{% extends 'base.html' %}

{% block content %}
    <div class="card" style="">
        {% if post.photo %}
        <img src="/media/{{post.photo}}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"><a href="{% url 'user-account' post.creater.id %}" class="btn btn-light">{{post.creater}}</a></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{post.content}}</li>
            <li class="list-group-item">{{post.created_at}}</li>
            <li class="list-group-item"><a href="/" class="btn btn-secondary">Назад</a></li>
        </ul>
    </div>
    <a href="{% url 'post-update' post.id %}" class="btn btn-warning">Редагувати</a>
    <a href="{% url 'post-delete' post.id %}" class="btn btn-danger">Видалити</a>
{% endblock %}