{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Social Network</h1>

    <div class="row">
        {% for post in posts %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                {% if post.photo %}
                <img src="/media/{{post.photo}}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"><a href="{% url 'user-account' post.creater.id %}" class="btn btn-light">{{post.creater}}</a></p>
                </div>
                <ul class="list-group list-group-flush">
                    {% if post.post_likes.all %}
                    <div>
                        <li class="list-group-item"><img src="https://cdn-icons-png.flaticon.com/512/58/58746.png" alt="" width="20"> {{ post.post_likes.count }} </li>
                    </div>
                    {% else %}
                    <div>
                        <li class="list-group-item"><img src="https://cdn-icons-png.flaticon.com/512/58/58746.png" alt="" width="20"> 0 </li>
                    </div>
                    {% endif %}
                    <li class="list-group-item">{{post.content}}</li>
                    <li class="list-group-item">{{post.created_at}}</li>
                    <li class="list-group-item"><a href="/post-detail/{{post.id}}" class="btn btn-secondary">Детальніше</a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}